<h3 style="font-family: Arial;">Your Cart</h3>
<div *ngIf="cartItems.length === 0">Your cart is empty</div>
<div class="cart-container">
  <div class="cart-item" *ngFor="let item of cartItems; let i = index">
    <img [src]="item.imageUrl" alt="{{ item.name }}">
    <h3>{{ item.name }}</h3>
    <div class="price">{{ item.price | currency }}</div>
    <button class="remove-from-cart" (click)="removeFromCart(i)">Remove</button>
  </div>
</div>
<button class="clear-cart" (click)="clearCart()">Clear Cart</button>